<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="bulma.min.css">
</head>
<body>
  <section class="section">
    <div class="maincolumns columns is-desktop is-vcentered">
      <div class="column is-10 is-offset-1 notification is-info is-light box container">
        <div class="title">Pets</div>

        <% if (pets && pets.length > 0) { %>
          <div class="table-container">
            <table class="table is-bordered is-hoverable is-striped is-narrow">
              <thead>
                <tr>
                  <th>Pet Name</th>
                </tr>
              </thead>
              <tbody>
                <% pets.forEach(pet => { %>
                  <tr>
                    <td><%= pet.name %></td>
                  </tr>
                <% }); %>
              </tbody>
              <tfoot>
                <tr>
                  <td>There are <%= pets.length %> pets.</td>
                </tr>
              </tfoot>
            </table>
          </div>
        <% } else { %>
          <p>No pets found.</p>
        <% } %>
      </div>
    </div>
  </section>
</body>
</html>
